<!DOCTYPE html>
<html>
<head>
    <!-- for HTML5 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/bootstrap/dist/css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/pdf-style.css')) }}">
</head>
<body>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
