.logo_tasc {
    text-align: center;
    position: relative;
    top: -30px;

}

.logo_tasc a {
    font-size: 1.2em;
}

.logo_img {
    height: 90px;
    width:  220px
}

.presupuesto_header {
    margin-bottom: 30px;
}

.presupuesto_data_header {
    margin-bottom: 30px;
    max-height: 260px;
    height: 260px;
    min-height: 260px;

}

.presupuesto_table {
    height: 1000px;
    max-height: 1060px;
}

.presupuesto_table table {
    width: 100%;
    text-align: center;
    border-radius: 2px;
}

.presupuesto_table thead  th {
    border: 1px solid black;
    text-align: center;
}

.presupuesto_table thead  th:nth-child(4) {
    text-align: left;
    padding-left: 5px;
}

.presupuesto_table tbody  tr{
    vertical-align: top;
}

.presupuesto_table tbody  td{
    font-size: 0.9em;
}

.presupuesto_table tbody  td:nth-child(1) {
    width: 30px;
}

.presupuesto_table tbody  td:nth-child(2) {
    width: 105px;
}

.presupuesto_table tbody  td:nth-child(3) {
    width: 60px;
}

.presupuesto_table tbody  td:nth-child(4) {
    text-align: left;
    padding-left: 5px;
}

.presupuesto_table tbody  td:nth-child(5) {
    width: 110px;
}

.presupuesto_table tbody  td:nth-child(6) {
    width: 110px;
}

.pagination {

}

.total_table {

}

.total_table table {
    width: 100%;
    text-align: center;
    border-radius: 2px;
}

.total_table thead  th {
    border: 1px solid black;
    text-align: center;
}

.total_table tbody {
    background: #d4d2d2;
}