.navbar-brand {
    padding-top: 5px;
}

.navbar-brand img{
    width: 90px;
    height: 40px;
}

.main-content {
    margin-top: 70px;
}

.quotation_collapsable_btn {
    padding: 0px 4px;
}

.collaps_all {
    padding: 0px 5px;
}

.prespuesto_container {
    height: 800px;
    max-height: 800px;

}

.article_row:hover, .client_row:hover {
    background: #ddd;
    cursor: pointer;
}

.input_row_articulo {
    width: 160px;
    text-align: left;
}

.input_row_definicion {
    width: 654px;
    text-align: center;
}

.input_row_definicion > input {
    width: 100%;
    text-align: left;
}

.input_row_precio {
    width: 85px;
    text-align: center;
}

.input_row_precio > input {
    width: 100%;
    text-align: right;
}

.input_row_unidades {
    width: 75px;
    text-align: center;
}

.input_row_unidades > input {
    width: 100%;
    text-align: right;
}

.input_row_iva {
    width: 40px;
}

.input_row_iva > input {
    width: 100%;
    text-align: center;
}


.input_row_dto {
    width: 40px;
}

.input_row_dto > input {
    width: 100%;
    text-align: center;
}

.input_row_importe {
    width: 100pk;
    text-align: right;
}

.total_importe {
    font-size: 1.2em;
    font-weight: bold;
}

#datepicker_presupuesto {
    width: 100px;
}


.loading {
    position: fixed;
    z-index: 999;
    height: 3em;
    width: 4em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}