.navbar-brand {
    padding-top: 5px;
}

.navbar-brand img{
    width: 90px;
    height: 40px;
}

.main-content {
    margin-top: 70px;
}

.quotation_collapsable_btn {
    padding: 0px 4px;
}

.collaps_all {
    padding: 0px 5px;
}