<div class="header_bar">
    <h4 class="panel-title">
        <div class="row">
            <div class="col-md-6">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <b>
                        <div class="datos_cliente_nombre">
                            {% if presupuesto %}
                                {{ presupuesto.cliente.nombre|trim }}
                            {% else %}
                                &nbsp
                            {% endif %}
                        </div>
                    </b>
                </a>
            </div>
            <div class="col-md-2">
                <div class="col-md-3">Número:</div>
                <div class="datos_presupuesto_numero col-md-8 col-md-offset-1">
                    <b>
                        {% if numero_presupuesto %}
                            {{ numero_presupuesto|trim }}
                        {% else %}
                            &nbsp
                        {% endif %}
                    </b>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-3">Fecha: </div>
                <div class="datos_presupuesto_fecha col-md-8 col-md-offset-1">
                    <b>
                        {% if presupuesto %}
                            {{  presupuesto.fecha| date('d/m/Y') }}
                        {% else %}
                            &nbsp
                        {% endif %}
                    </b>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-3">Total:</div>
                <div class="total_importe col-md-8 col-md-offset-1"><b>&nbsp</b></div>
            </div>
        </div>
    </h4>
</div>



