{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-md-12 prespuesto_container" >
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Detalles Presupuesto</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="col-md-12" style="padding: 20px">
                                <div class="col-md-4">
                                    {% include 'presupuestos/presupuesto_datos_cliente.html.twig'
                                        with {
                                            'presupuesto': false,
                                            'select_client_enable': true
                                        }
                                    %}
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    {% include 'presupuestos/presupuesto_datos_importes.html.twig' %}
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    {% include 'presupuestos/presupuesto_datos_numeros.html.twig'
                                        with {
                                            'numero_presupuesto': false,
                                            'presupuesto': false
                                        }
                                    %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'presupuestos/presupuesto_acciones_left.html.twig' %}

                {% include 'presupuestos/presupuesto_acciones_right.html.twig'
                    with {
                        'save_enable': true,
                        'clon_enable': false,
                        'mod_enable': false,
                        'print_enable': false
                    }
                %}

                <div class="col-md-12 table_container" >
                    <table class="table table-bordered table-hover thead-inverse prespuesto_table">
                        <thead>
                            <tr>
                                <th>Artículo</th>
                                <th>Definición</th>
                                <th>Precio</th>
                                <th>Unidades</th>
                                {#<th>IVA</th>#}
                                <th>%</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'clientes/clientes_modal.html.twig' with {'clientes': clientes} %}

    {% include 'articulos/articulos_modal.html.twig' with {'articulos': articulos, 'familias': familias, 'marcas': marcas} %}


{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}