{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-md-12 prespuesto_container" >
                <div class="col-md-3 prespuesto_datos">

                    {% include 'presupuestos/presupuesto_datos_numeros.html.twig' %}

                    <div class="col-md-12" style="height: 30px"></div>

                    {% include 'presupuestos/presupuesto_datos_cliente.html.twig' %}

                    <div class="col-md-12" style="height: 30px"></div>

                    {% include 'presupuestos/presupuesto_datos_importes.html.twig' %}

                    <div class="col-md-12" style="height: 30px"></div>

                    {% include 'presupuestos/presupuesto_acciones.html.twig' %}

                <div class="col-md-9" >
                    <table class="table table-bordered table-hover thead-inverse prespuesto_table">
                        <thead>
                            <tr>
                                <th>Artículo</th>
                                <th>Definición</th>
                                <th>Precio</th>
                                <th>Unidades</th>
                                {#<th>IVA</th>#}
                                <th>%</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'clientes/clientes_modal.html.twig' with {'clientes': clientes} %}

    {% include 'articulos/articulos_modal.html.twig' with {'articulos': articulos} %}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function selectCliente (codigo) {
            console.log(codigo);
        }


    </script>
{% endblock %}