{% extends 'layout-pdf.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row presupuesto_data_header">
            <div class="col-md-12">
                <div class="col-md-5 col-md-offset-1 cliente_data">
                    <div>MARVAL SEGURIDAD INTEGRAL, S.L.</div>
                    <div>C/ Sacrificio 25</div>
                    <div>24199 SANTA OLAJA DE LA RIBERA</div>
                    <div>LEON ESPAÑA</div>
                </div>

                <div class="col-md-4 col-md-offset-2  presupuesto_data">
                    <div>Fecha: 30/06/2016</div>
                    <div>Oferta: 166177</div>
                </div>
            </div>
        </div>
        <div class="row presupuesto_table">
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <th class="presupuesto_table_head_item">        It</th>
                            <th class="presupuesto_table_head_codigo">      Código</th>
                            <th class="presupuesto_table_head_cantidad">    U.</th>
                            <th class="presupuesto_table_head_descripcion"> Descripción</th>
                            <th class="presupuesto_table_head_precio">      Precio</th>
                            <th class="presupuesto_table_head_importe">     Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#{% for i in 1..56 %}#}
                        {% for i in 1..10 %}
                            <tr>
                                <td class="presupuesto_table_body_item">{{ i }}</td>
                                <td class="presupuesto_table_body_codigo">N4387B-002</td>
                                <td class="presupuesto_table_body_cantidad">1</td>
                                <td class="presupuesto_table_body_descripcion">Detección lineal de temperatura por cable de Fibra Óptica.Distancias máxim</td>
                                <td class="presupuesto_table_body_precio">20084.08</td>
                                <td class="presupuesto_table_body_importe">20084.08</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row presupuesto_footer">
            <div class="col-md-12">
                <div class="col-md-3 pagination">
                    Pagina 1 de 3
                </div>
                <div class="col-md-6 col-md-offset-3 total_table">
                    <table>
                        <thead>
                            <tr>
                                <th>Base</th>
                                <th>Iva</th>
                                <th>Imp. Iva</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>66,134.25</td>
                                <td>21</td>
                                <td>14,308.20</td>
                                <td><b>82,442.45</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}