<div class="col-md-12 prespuesto_datos_numeros">
    <fieldset>
        <legend>Prespuesto</legend>
        <div class="col-md-3">Número</div>
        <div class="col-md-9">{{ numero_presupuesto  }}</div>
        <div class="col-md-3">Fecha</div>
        <div class="col-md-9">
            <input type="text" id="datepicker_presupuesto">
        </div>
    </fieldset>
</div>