<div class="col-md-12 prespuesto_acciones_tabla">
    <fieldset>
        <legend>Acciones Tabla</legend>
        <div class="col-md-3">
            <button id="btn_nueva_linea" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Nueva</button>
        </div>
        <div class="col-md-3">
            <button id="btn_borrar_lineas" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove" ></span> Borrar</button>
        </div>
        <div class="col-md-3">
            <button id="btn_insertar_articulo" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus" ></span> Articulo</button>
        </div>
    </fieldset>
</div>
<div class="col-md-12" style="height: 30px"></div>
<div class="col-md-12 prespuesto_acciones_db">
    <fieldset>
        <legend>Acciones Presupuesto</legend>
        <div class="col-md-3">
            <button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span> Enviar</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-floppy-save"></span> Guardar</button>
        </div>
    </fieldset>
</div>
</div>