<div class="col-md-12 presupuesto_datos_numeros">
    <fieldset>
        <legend>Presupuesto</legend>
        <div class="col-md-3">Fecha</div>
        <div class="col-md-9">
            <input type="text" id="datepicker_presupuesto"
                   {% if presupuesto %}
                        value="{{ presupuesto.fecha| date('d/m/Y') }}
                    {% endif %}
            ">
        </div>
        <div class="col-md-3">Número</div>
        <div class="col-md-9 datos_presupuesto_numero">{% if numero_presupuesto %}{{ numero_presupuesto|trim }}{% endif %}</div>
    </fieldset>
</div>