<div class="col-md-12 prespuesto_datos_cliente">
    <fieldset>
        <legend>
            <span>Cliente</span>
            <span id="clientesModalTrigger" class="glyphicon glyphicon-search pull-right"></span>
        </legend>
        <div class="col-md-12">
            <div class="col-md-3">Código</div>
            <div class="col-md-9 datos_cliente_codigo">&nbsp</div>
            <div class="col-md-3">Nombre</div>
            <div class="col-md-9 datos_cliente_nombre">&nbsp</div>
            <div class="col-md-3">CIF</div>
            <div class="col-md-9 datos_cliente_cif">&nbsp</div>
            <div class="col-md-3">Dirección</div>
            <div class="col-md-9 datos_cliente_direccion">&nbsp</div>
            <div class="col-md-3">CP</div>
            <div class="col-md-9 datos_cliente_cp">&nbsp</div>
            <div class="col-md-3 ">Poblacion</div>
            <div class="col-md-9 datos_cliente_poblacion">&nbsp</div>
            <div class="col-md-3">Provincia</div>
            <div class="col-md-9 datos_cliente_provincia">&nbsp</div>
            <div class="col-md-3">Credito</div>
            <div class="col-md-9 datos_cliente_credito">&nbsp</div>
        </div>
    </fieldset>
</div>