<div class="col-md-12 prespuesto_datos_numeros">
    <fieldset>
        <legend>Importes</legend>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2"><span>Base:</span></div>
                <div class="total_importe_base col-md-6 col-md-offset-1">&nbsp</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"><span>IVA:</span></div>
                <div class="total_importe_iva col-md-6 col-md-offset-1">&nbsp</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"><span>TOTAL:</span></div>
                <div class="total_importe col-md-6 col-md-offset-1">&nbsp</div>
            </div>
        </div>
    </fieldset>
</div>