<div id="container-floating-left">
    <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="condiciones">
        <a href="#" id="btn_condiciones"  role="button">
            <p class="icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></p>
        </a>
        <span class="tooltiptext">Condiciones</span>
    </div>
    <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="nuevo_articulo">
        <a href="#" id="btn_insertar_articulo"  role="button">
            <p class="icon"><i class="fa fa-list" aria-hidden="true"></i></p>
        </a>
        <span class="tooltiptext">Nuevo Artículo</span>
    </div>
    <div class="nd2 nds" data-toggle="tooltip" data-placement="left" data-original-title="nueva_linea">
        <a href="#" id="btn_nueva_linea"  role="button">
            <p class="icon"><i class="fa fa-plus" aria-hidden="true"></i></p>
        </a>
        <span class="tooltiptext">Nueva Linea</span>
    </div>
    <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="borrar">
        <a href="#" id="btn_borrar_lineas"  role="button">
            <p class="icon"><i class="fa fa-eraser" aria-hidden="true"></i></p>
        </a>
        <span class="tooltiptext">Borrar</span>
    </div>
    <div id="floating-button-left" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
        <p class="plus">+</p>
        <img class="edit" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
</div>
